<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/table_stylesheet.css">

    <script type="module">
        import { createApp, onMounted } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

        createApp({
            data() {
                return {
                    websocket_url: "ws://127.0.0.1:8000/ws",
                    websocket: null,
                    account_id: 0,
                    live_user_count: "-",
                    transfers: [],

                    user: {first_name: "", last_name: "", email: "", avatar_url: ""}
                }
            },

            methods: {
                async loadUser() {
                    const response = await fetch("/api/v1/user/", {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": "Bearer " + document.cookie
                        }
                    });
                    const body = await response.json();
                    console.log(body);
                    this.user = body.data;
                },

                logout() {
                    document.cookie = "";
                    window.location = "/login";
                },

                parseURL() {
                    let path = window.location.pathname;
                    let splitpath = path.split('/');
                    let f_splitpath = splitpath.filter((element, index, array) => { return element.length > 0; });
                    this.account_id = Number(f_splitpath[f_splitpath.length-1]);
                },

                connectWebsocket() {
                    this.websocket = new WebSocket(this.websocket_url);

                    this.websocket.addEventListener('open', () => {
                        console.log('Websocket connected: ' + this.websocket_url)
                        this.websocket.send(JSON.stringify({"type": "client_auth", "data": [{"session_token": document.cookie}]}))
                    });

                    this.websocket.addEventListener('message', (e) => {
                        const event = JSON.parse(e.data);
                        const data = event.data;

                        switch (event.type) {
                            case 'transfer_created': {
                                this.transfers = [];
                                this.getTransferList();
                                break;
                            }
                            case 'transfer_updated': {
                                for (let update of data) {
                                    for (let existing_transfer of this.transfers) {
                                        if (update.id == existing_transfer.id) { 
                                            existing_transfer.name    = update.name;
                                            existing_transfer.balance = update.balance_cents / 100
                                            existing_transfer.status  = update.status
                                            break;
                                        }
                                    }
                                }
                                break;
                            }
                            case 'live_user_count': {
                                for (let message of data) {
                                    this.live_user_count = message.value;
                                    break;
                                }
                                break;
                            }
                        }
                    });

                    this.websocket.addEventListener('close', (e) => {
                        console.log('Socket closed. Reconnecting in 3 seconds...', e.reason);
                        setTimeout(this.connectWebsocket, 3000); // Attempt to reconnect after a delay
                    });

                    window.addEventListener('beforeunload', (event) => {
                        if (this.websocket) {
                            this.websocket.send(JSON.stringify({
                                type: "client_disconnect",
                                data: []
                            }));

                            this.websocket.close();
                        }

                        event.returnValue = '';
                    });
                },
                
                async getTransferList() {
                    const response = await fetch("/api/v1/account/" + this.account_id + '/transfers/', {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": "Bearer " + document.cookie
                        }
                    });
                    const body = await response.json();
                    console.log(body);
                    if (response.status != 200) { window.location = '/accounts' } // { this.logout(); }
                    this.transfers = [];
                    for (var transfer of body.data) { 
                        const t_transfer = {
                            id: transfer.id, 
                            created_utc: transfer.created_utc, 
                            status: transfer.status, 
                            note: transfer.user_note, 
                            amount_cents: transfer.amount_cents
                        };
                        console.log(t_transfer); 
                        this.transfers.push(t_transfer);
                    }
                }
            },

            mounted() {
                this.parseURL();
                this.loadUser();
                this.connectWebsocket();
                this.getTransferList();
            }
        }).mount('#app');
    </script>
</head>

<body id="app" v-cloak style="display: flex; flex-direction: column; flex-grow: 1;">

    <div class="header spaced-container">
        <div class="header left-container" style="padding-left: 25px; gap: 20px;">
            <strong><a class="header-text large" >Mitchwealth Bank Australia</a></strong>
            <a class="header-text medium" href="/home">Home</a>
            <a class="header-text medium" href="/accounts">Accounts</a>
            <a class="header-text medium" href="/transfer">Transfer</a>
        </div>

        <div class="header right-container">
            <p class="header-text" style="padding-right: 2px; overflow: hidden;">Hello,</p>
            <a class="header-text underline" style="padding-right: 10px;" href="/profile">{{ this.user.first_name }}!</a>
            <a href="/profile">
                <img class="user-avatar" :src="user.avatar_url" height="64" width="64"/>
            </a>
        </div>
    </div>

    <div class="content" style="flex-direction: row;">
        <table>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Note</th>
                <th></th>
            </tr>

            <tr v-for="transfer in transfers" :key="transfer.id" :id="transfer" class="data-row" style="cursor: pointer;" @click="" title="View transfer details">
                <td>{{ transfer.id }}</td>
                <td>{{ transfer.created_utc }}</td>
                <td>${{ (transfer.amount_cents/100).toFixed(2) }}</td>
                <td>This is a test note{{ transfer.user_note }}</td>
                <td v-if="transfer.status !== 'processed'" style="font-style: italic;">{{ transfer.status }}</td>
                <td v-else></td>
            </tr>
        </table>

        <div style="width: auto; height: auto; flex-grow: 1;"></div>
    </div>

    <div class="footer">
        <div style="display: flex; flex-direction: row; align-items: center; padding-left: 10px;">
            <p class="beacon"></p>
            <p class="header-text" style="padding-left: 10px;">Live Users: {{ live_user_count }}</p>
        </div>
    </div>

</body>
</html>