<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_outward" />
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/table_stylesheet.css">

    <script type="module">
        import { createApp, onMounted } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

        createApp({
            data() {
                return {
                    email_address: "",
                    password: "",
                    status_message: "",
                    statusIsError: false
                }
            },

            methods: {
                async requestLogin() {
                    const response = await fetch("/api/v1/user/session/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({"email_address": this.email_address, "password": this.password})
                    });
                    const body = await response.json();
                    console.log(body);
                    if (response.status == 200) {
                        this.statusIsError = false;
                        document.cookie = body.data.session_token;
                        this.status_message = "Login success. Redirecting."
                        setTimeout(() => { window.location = '/home';  }, 1000)
                    }
                    else {
                        this.statusIsError = true;
                        this.status_message = body.reason;
                    }
                }
            },
        },
    ).mount('#app');
    </script>
</head>

<body id="app" v-cloak style="display: flex; flex-direction: column; flex-grow: 1;">

    <div class="header spaced-container">
        <div class="header left-container" style="padding-left: 25px; gap: 20px; min-height: 50px;">
            <strong><a class="header-text large" >Mitchwealth Bank Australia</a></strong>
        </div>
    </div>

    <div class="content" style="align-content: center;">
        <div class="user-area">
            <a class="header-text large" style="margin-bottom: 25px;">Login</a>
            <div class="field">
                <label for="email_address">Email:</label>
                <input id="email_address" v-model="email_address">
            </div>
            <div class="field">
                <label for="password">Password:</label>
                <input id="password" v-model="password" style="flex-grow: 1;">
            </div>
            <div class="field"><button @click="requestLogin"><strong>Login</strong></button></div>
        <strong><a :class="{ success: !statusIsError, error: statusIsError }">{{ status_message }}</a></strong>
        </div>
    </div>

    <div class="footer">
    </div>

</body>
</html>