table {
    width: 100%;
    margin-top: 25px;
    border-collapse: separate;
    border-spacing: 0 12px;
}

th {
    text-align: left;
    padding: 12px 16px;
    color: #666;
}

td {
    padding:  8px;
    background: rgb(255, 204, 110);
}

th:last-child,
td:last-child {
    text-align: right;
    width: 1%;
    white-space: nowrap;
}

td:last-child a {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

tr.data-row td:first-child {
    border-radius: 10px 0 0 10px;
}

tr.data-row td:last-child {
    border-radius: 0 10px 10px 0;
}

tr.data-row {
    position: relative;
    max-height: 60px;
}

tr.data-row::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    pointer-events: none;
    transition: 0.2s ease;
    max-height: 60px;
}

tr.data-row:hover::after {
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
    max-height: 60px;
}